body {
    background-color: #EEE5E9;
}

.users img {
    width: 50px;
    border-radius: 100px;
}

.selectedPage {
    font-weight: bold;
    margin: 1px;
    padding: 6px 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(90, 90, 90);
    color: aliceblue;
}

.pages {
    margin: 1px;
    padding: 6px 11px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.users {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.userItem {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.pages:active {
    background-color: black;
}

.btnFollow {
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #92DCE5;
}

.btnUnfollow {
    padding: 5px 21px;
    border-radius: 5px;
    background-color: #52DEE5;
}