.postsBlock {
    padding: 10px;
}

.posts {
    margin-top: 10px;
}

textarea {
    height: 80px;
    padding: 5px;
    border: 1px solid rgb(155, 154, 154);
    border-radius: 4px;
    background-color: #f4efef;
    font-size: 14px;
}

.postsBlock button {
    width: 100px;
    height: 30px;
    background-color: white; 
    color: rgb(24, 3, 139); 
    border: 2px solid #797979;
    border-radius: 5px;
    box-shadow: 4px 0px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}