.nav {
    grid-area: n;
    background-color: #7C7C7C;
    padding: 10px;
  }

.item a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.item a.activeLink{
  color: #92DCE5;
}

.FriendsBlock{
  margin-top: 20px;
}