.app-wrapper {
  margin: 0 auto;
  display: grid;
  
  grid-template-areas:
  'h h'
  'n c';
  
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}

.header {
  grid-area: h;
  background-color: #383D3B;
}


header img {
  width: 50px;
  margin: 5px;
}