.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

/* .dialogs .dialog {

} */

.messages {
    padding: 10px;

}

.messages .message {
    color: aliceblue;
}

.messages textarea{
    margin-top: 20px;
    width: 30%;
    height: 60px;
    border: 1px solid rgb(190, 190, 190);
}

.messages button{
    background-color: #8caae2;
    /* border: none; */
    color: white;
    padding: 5px 12px;
    /* text-align: center; */
    /* text-decoration: none; */
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}